*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html{
    font-size: 62.5%;
       
}

body{
    font-family: "poppins";
}

ul {
    margin: 0px;
    padding: 0px;
  }

header{
    display: flex;
    height: 8rem;
    width: 92.2%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    background: #FFFFFF;
    align-items: center;
    font-size: 1.4rem;
    justify-content:space-between;
   
    
}

#nav ul{
    gap: 3.2rem;
    align-items: center;
            
}

#nav a{
    color:black;
    cursor: pointer;
    transition-duration: 0.8s;

}

#nav a:hover{
    color: #2F70FE;
}

#botaomenu{
    font-family: "poppins";
    font-weight: 500;
    font-size: 1.6rem;
    background: #FFFFFF;
    border: 1px solid #2F70FE;
    box-sizing: border-box;
    padding: 12px 23px;
    cursor: pointer;
    
}

#menu{
    list-style: none;
    display: flex;
}

#botaomenu:hover{
    background: #2F70FE;
    transition-duration: 0.8s;
}


#btn-mobile {
    display: none;
  }



/*seção abaixo do header */

.azul{
    background: #2F70FE;
    display: flex;
    flex-direction: column;
    height: 57.5rem;
    align-items: center;
    text-align:center;
    justify-content:flex-end;
       
        
}

.textos{
    display: flex;
    flex-direction: column;
    width: 65.3rem;
    
           
}

.maior{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 4.8rem;

}

.menor{
    color: #FFFFFF;
    font-size: 1.6rem;

}



.azul button{
    width: 16.6rem;
    height: 6rem;
    font-family: "raleway";
    background: black;
    color: #FFFFFF;
    padding: 16px 25px;
    border: none;
    margin-top:3.3rem;
    cursor: pointer;
}

.img{
    display: flex;
    justify-content:space-around;
    width: 100%;
         
}




/*parte da seção 2 --- verde - list*/


.secao2{
    height: 45.5rem;
    background: rgba(0, 255, 133, 0.08);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:3.1rem;
    
}


.secao2 h2{
    font-size: 4rem;
    font-weight: 500;
    color:black;
    
}

.list{
    display: flex;
    flex-direction: row;
    gap:5.6rem;
    
}

.list p{
    font-size: 1.6rem;
}

.conteudo{
    width: 23.3rem;
    
}

/*parte 3 seção */

.secao3{
    height: 44.1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 15.9rem;
}

.secao3 h3{
    width: 35.9rem;
    font-size: 2.8rem;
    line-height: 3.7rem;
}

.secao3 p{
    width: 41rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 2.4rem;
}

#figure1mobile{
    display: none;
}

/*4 seção */

.secao4{
    height: 44.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16rem;
}

.secao4 h3{
    width: 40.9rem;
    font-size: 2.8rem;
    line-height: 3.7rem;
}

.secao4 p{
    width: 41rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 2.4rem;
}

#seta{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    height: 2.8rem;
   
    
}

#textoseta{
    font-size: 1.6rem;
    font-weight: 500;
    color: #2F70FE;
}

#textoseta:hover{
    color: rgb(23, 57, 209);
    transition: 0.6s;
}


#seta img{
    margin-left: 0.8rem;
    margin-top: 0.4rem;
    
}

#figure2mobile{
    display: none;
}


/*5 seção */

.secao5{
    height: 44.1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}

.secao5 h3{
    width: 37.9rem;
    font-size: 2.8rem;
    line-height: 3.7rem;
}

.secao5 p{
    width: 36.2rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 2.4rem;
}


#figure3mobile{
    display: none;
}


/*5 seção */

.secao6{
    height: 44.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16rem;
    
}

.secao6 h3{
    width: 37.9rem;
    font-size: 2.8rem;
    line-height: 3.7rem;
}

.secao6 p{
    width: 41rem;
    font-size: 1.6rem;
    line-height: 2.7rem;
    margin-top: 2.4rem;
}

#seta{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
    height: 2.8rem;
       
}


#figure4mobile{
    display: none;
}


/*footer*/

footer{
    display: flex;
    flex-direction: column;
    background: black;
    justify-content: center;
    gap: 8.7rem;
    height: 39.7rem;
    
    
}

.footer{
    display: flex;
    justify-content: center;
    gap: 11.6rem;
    
    
}

#footer{
    display: flex;
    gap: 11.6rem;
}




footer h4{
    font-weight: 700;
    font-size:1.6rem ;
    color:#ffffff;
}

footer a{
    color: #FFFFFF;
    font-size: 1.4rem;

}

footer a:hover{
    color: #2F70FE;;
    
}

footer p{
    color: #FFFFFF;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 400;
    

}

#collumn{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.4rem;
    
}



@media (max-width:1000px){

    .azul{
        justify-content: center;
    }
    .azul img{
        display: none;
    }

    .textos{
        width: 70%;
       
    }

    /*seção3*/

    .secao3{
        height: 60.1rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 7rem;
        
    }

    .secao3 h3{
        margin-left: auto;
        margin-right: auto;
    }

    .secao3 p{
        width: 33.8rem;
    }

       

    #figure1desk{
        display: none;
    }

    #figure1mobile{
        display: block;
    }

     /*seção4*/

     .secao4{
        height: 66.4rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5.1rem;
        
    }

    .secao4 h3{
        width: 33.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .secao4 p{
        width: 33.8rem;
    }

    #seta{
        width: 12.7rem;
        margin-left: auto;
        margin-right: auto;
    }

    

    #figure2desk{
        display: none;
    }

    #figure2mobile{
        display: block;
    }

    /*seção5*/

    .secao5{
        height: 66.4rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 3.5rem;
        
    }

    .secao5 h3{
        width: 33.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .secao5 p{
        width: 33.8rem;
    }

    #seta{
        width: 12.7rem;
        margin-left: auto;
        margin-right: auto;
    }

    

    #figure3desk{
        display: none;
    }

    #figure3mobile{
        display: block;
    }

    /*seção6*/

    .secao6{
        height: 66.4rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 5rem;
        
    }

    .secao6 h3{
        width: 33.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    .secao6 p{
        width: 33.8rem;
    }

    #seta{
        width: 12.7rem;
        margin-left: auto;
        margin-right: auto;
    }

    
    #figure4desk{
        display: none;
    }

    #figure4mobile{
        display: block;
    }

    /*footer*/

}

 
@media (max-width:768px) {

    
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 8rem;
        right: 0px;
        background: #FFFFFF;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        visibility: hidden;
        overflow-y: hidden;
        
      }

      #nav.active #menu {
        height: 731px;
        visibility: visible;
        overflow-y: hidden;
    
      }
      #menu a {
        font-size: 3.6rem;
        border-bottom: none;
        
        
      }

      #botaomenu{
        font-family: "poppins";
        font-weight: 500;
        font-size: 3.6rem;
        background: transparent;
        border: none;
        cursor: pointer;
        color: #2F70FE;
        
        
    }

    #nav ul{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    #botaomenu:hover{
        
        color: black;
        background: #FFFFFF;
        
        
    }
      
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }

    /*selçao azul*/

    .azul{
        padding: 6rem;
    }

    .azul img{
        display: none;
    }

    .textos{
        width: 100%;
    }

    /*parte seção2*/

    .secao2{
        height: 81.4rem;
    }

    .list{
        flex-direction: column;
    }

    /*footer*/

    footer{
        height: 52.7rem;
        gap: 6rem;
        
    }

    .footer{
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 6.2rem;
        
    }

    #footer{
        gap: 6.2rem;
    }
       
}


@media (max-width:460px){

    .maior{
        font-size: 3.6rem;
    }

    .azul button{
        
        margin-top:2.5rem;
    }

    .azul{
        padding: 0rem;
    }

    /*footer*/




}